{% include header.html %}
<script>
  gifs=['gifs/cidade.gif','gifs/cidade2.gif','gifs/cidade3.gif','gifs/cidade4.gif']
  i=0;
  c=0;
  var audio = new Audio("music.mp3");
  function changeaudio(){
    i=i+1;
    if(i%2==1){
      audio.play();
      document.getElementsByTagName('body')[0].style.backgroundImage = "url('https://amritauniv-my.sharepoint.com/personal/amenu4aie21009_am_students_amrita_edu/Documents/gif/yourname.gif')";
      document.getElementsByTagName('body')[0].style.backgroundRepeat = "repeat";
      document.getElementsByTagName('body')[0].style.backgroundSize = "cover";
    }
    else if(i%2==0){
      audio.pause();
      document.getElementsByTagName('body')[0].style.backgroundImage = "url('" + gifs[c] + "')";;
      document.getElementsByTagName('body')[0].style.backgroundRepeat = "repeat";
      document.getElementsByTagName('body')[0].style.backgroundSize = "cover";
      if(c==3){
        c=0;
      }
      c+=1
    }
  }
</script>
  

<div div class="container-lg py-6 p-responsive text-center">
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
    {% include masthead2.html metadata=true %}
      <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
        {{ content }}
      </div>
      {% include thoughts.html %}
      {% include projects.html %}
      {% if site.topics %}
        {% include interests.html %}
      {% endif %}
  </div>
</div>
<div style="padding: 10px;">
  <input type="image" src="egg.png" width="50" height="50" onclick="changeaudio()"s>
</div>
